body, header{
  font-family: 'Carter One', cursive;
}

.navbar {
  background-color: #41d6e1;
}

#cabecalho .nav .nav-link.active{
  background-color: #141414;
  color: #41d6e1;
}

#cabecalho .nav .nav-link, .navbar-brand{
  color: #080808;
}

.navbar-brand:hover,
.nav-acessorios .nav-link.active:hover{
  color: #070707;
}

.navbar-toggler{
  background-color: #065991;
  outline: none;
}

.section-title{
  font-family: Pacifico, cursive;
}


#camisetas,
#contato{
  background-color: #41d6e1;
}

.text-colored{
  color:   #065991;
}

.nav-acessorios .nav-link.active,
#contato button{
  background-color: #141414;
  color: #41d6e1;
}

.nav-acessorios .nav-link,
.nav-acessorios .nav-link:hover{
  color:  #065991;
}

.social-links li{
  list-style: none;
  display: inline;
}

.social-links a{
  text-decoration: none;
}

@media (max-width: 767px){
  .nav-link{
      margin-top: 10px;
  }
  .carousel-item img{
      height: 280px;
  }
}